body {
  display: flex;
  background-color: white;
  flex-direction: row;
  flex-wrap: wrap;
}

.page,
#new-page {
  width: 250px;
  height: 325px;

  margin: 10px;
  padding: 10px 10px 10px 10px;

  border-radius: 5px;

  background-color: #faebd7;
}

.header{
  display:flex;
  justify-content: space-between;
}

#new-page {
  opacity: 50%;
}

#new-page:hover {
  opacity: 80%;
  cursor: pointer;
}

.page {
  overflow: auto;
}

.page #page-title {
  font-size: 2em;
  padding: 0px 0px 5px 0px;
}

.new-item {
  opacity: 50%;
}

.actionContainer{
  display: flex;
  flex-direction: row-reverse;
}

.new-item:hover {
  opacity: 80%;
  cursor: pointer;
}

.page:hover{
  .pageButt{
    display: block;
  }
}

.item:hover
{
  .itemButt{
    display: block;
  }
}

.hovere{
  background-color: aqua;
}

.itemButt,.pageButt {
  display: none;
  background-color: red;
  text-align: center;
  height: 20px;
  width: 20px;
  border-radius: 6px;
}

.itemButt:hover, .pageButt:hover{
  background-color: darkred;
  cursor: pointer;
}

.page .item,
.new-item {
  display: flex;
  justify-content: space-between;

  padding: 4px;
  margin-top: 5px;

  background-color: #fcdeb5;
  border-radius: 5px;
}
